SpaceAssault/.vscode/launch.json
Tanks/Tanks/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tanks/Tanks/bin/Debug/Tanks.exe
Tanks/Tanks/bin/Debug/Tanks.pdb
Tanks/Tanks/bin/Debug/Tanks.exe.config
Tanks/Tanks/obj/Debug/CoreCompileInputs.cache
Tanks/Tanks/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Tanks/Tanks/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tanks/Tanks/obj/Debug/Tanks.exe
Tanks/Tanks/obj/Debug/Tanks.pdb
Tanks/Tanks/obj/Debug/Tanks.Properties.Resources.resources
Tanks/Tanks/obj/Debug/Tanks.csproj.FileListAbsolute.txt
Tanks/Tanks/obj/Debug/Tanks.csproj.GenerateResource.Cache
Tanks/Tanks/obj/Debug/Tanks.csprojResolveAssemblyReference.cache
Tanks/Tanks/obj/Debug/Tanks.mainForm.resources
Tanks/Tanks/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tanks/Tanks/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
