body {
    background: #eaedf1;
    color: #000;
    margin: 0;
    padding: 0;
     
}

h2, h3, h4 {
    font-family: Signika, Signika Negative;
    font-weight: bold;
    color: #33495f;
}

p, li, span, .btn {
    font-family: Lato;
    color: #33495f;
}
 
.container {
    background: inherit;
    width: 1348px;
    height: 1600px;
    margin: 82px auto;
    text-align: center;
}

.header {
    background: inherit;
    width: 100%;
    height: 295px;    
}
 
.header-left {
    background-color: white;
    width: 435px;
    height: 100%;
    float: left;
    /*position: relative;*/
}

.name h2 {
      font-size: 29px;
      padding-top: 53px;
      padding-left: 187px;
      margin-bottom: 0px;
 }
.name p {
     font-size: 17px;
     margin-top: 6px;
     padding-left: 104px;
     margin-bottom: 76px;
}
.photo {
     background-image: url(/image/photo.png);
     background-repeat: no-repeat;
     background-position: 26px 12px;
}

.items {
     /*position: absolute;
     top: 50px;*/
     font-size: 0;
     display: inline-block;
     /*vertical-align: bottom;*/
     /*background-color: #ecf0f1;
     /*box-shadow: 0 0 3px #999999;*/
}
   
.item {
    text-transform: uppercase;
    display: inline-block;
    /*vertical-align: bottom;*/
    width: 108px;
    height: 79px;
    margin: 0;
    padding: 0;
}

.item-age {
    background-color: #16c4ec;
    background-image: url(/image/about1.png);
    background-repeat: no-repeat;     
    background-position: 50% 20px;

}

.item-nation {
     background-color: #fa5351;
     background-image: url(/image/about2.png);
     background-repeat: no-repeat;
     background-position: 50% 15px;
}

.item-permis {
     background-color: #10cdc1;
     background-image: url(/image/about3.png);
     background-repeat: no-repeat;
     background-position: 50% 15px;
}

.item-smoke {
     background-color: #33495f;
     background-image: url(/image/about4.png);
     background-repeat: no-repeat;
     background-position: 50% 15px;
}
.str {
     color: white;
     margin-top: 40px;
     font-size: 14px;
}

.header-right {
    background-color: white;
    float: right;
    width: 825px;
    height: 100%;     
}

.about-left {
    float: left;
    width: 468px;
    height: 100%;
}

.about-left h2 {
     font-size: 37px;
     font-weight: 600;
     padding-top: 12px;
}

.about-left .text {
     font-size: 18px;
     line-height: 170%;
     text-align: justify;
     margin-top: -19px;
     margin-bottom: 11px;
     padding-left: 32px;
     padding-right: 32px;
}

.about-important {
     color: #16c4ec;
}

.about-social {
     width: 470px;
     height: 50px;
}

.social {
     display: inline-block;
     width: 50px;
     height: 50px;
     margin-right: 19px;   
     vertical-align: middle;   
     background-image: url("/Image/social.png");
     background-repeat: no-repeat;
}
.social-tw {
     background-position: 0px 0;
}
.social-dr {
     background-position: -50px 0;
}
.social-bh {
     background-position: -100px 0;
}
.social-ig {
     background-position: -150px 0;
}
.social-bl {
     background-position: -200px 0;
}
.social-in {
     background-position: -250px 0;
}

.about-right {
    float: right;
    margin-right: 30px;
    width: 280px;
    height: 211px;
    border-bottom: 1px solid #788695;
}

.about-right p {
     font-size: 22px;
     margin: 105px 0 19px;
     text-align: justify;
 }

.about-right a {
    display: block;
    text-decoration: none;
    text-align: justify;
    color: #fa5351;
    font-size: 22px;
}



.content {
     background: inherit;
     height: 1200px;
     /* Линия цвета фона для не схлопывания margin*/ 
     border-top: 1px solid #eaedf1;
     margin-top: 36px;
}

.left-content {
     background: inherit;
     float: left;
     width: 634px;
}

.separator-content {
     background: inherit;
     float: left;
     width: 79px;
     height: 100%;
     
     background-image: url(/image/bar.png);
     background-repeat: no-repeat;
     background-position: 3px -17px;
     
}

.right-content {
     background: inherit;
     float: right;
     width: 624px;
}

.job {
     background: white;
     padding: 1px;
     margin-bottom: 32px;
     border-radius: 5px;
}
.job span {
     color: #9ea7b4;
}

.job h3 {
     text-align: left;
     padding-top: 3px;
     padding-left: 22px;
     font-size: 25px;
     margin-bottom: 0px;
}

.job h3 span {
     font-size: 18px;
     font-weight: 500;
     padding-left: 10px; 
}

.job h4 {
     color: #10cdc1;
     text-align: left;
     font-size: 21px;
     font-weight: 500;
     padding-left: 23px;
     margin-top: 0;
}

.job ul {
     list-style: none;
     text-align: left;
     padding-left: 30px;
     line-height: 210%;
     font-size: 16px;
}
   
.job ul li:before {
     content: '✓';
     padding-right: 14px;
}

/*.job .secret-velvet {
     height: 600px;
}*/

.job .job-about-sv {     
     text-align: left;
     margin-top: 33px;
     margin-bottom: 22px;
}

.job-about-sv .map {
     padding-left: 30px;
     /*background-image: url(/Image/map.png);
     background-repeat: no-repeat;
     background-position: 0px 0px;*/
}

.job-about-sv .flash {
     padding-left: 51px;
}

.btn {
     display: inline-block;     
     width: 215px;
     height: 28px;
     color: #fff; 
     text-decoration: none; 
     text-align: center;
     padding-top: 10px;
     border-radius: 3px; 
}

.btn-sv {
     background: #16c4ec;
     margin-left: 80px;
}

.cortix h4 {
     margin-bottom: -5px;
}

.job .job-about-co {     
     text-align: left;
     margin-top: 33px;
     margin-bottom: 22px;
}

.job-about-co .map {
     padding-left: 30px;
}

.job-about-co .flash {
     padding-left: 45px;
}

.btn-co {
     background: #16c4ec;
     margin-left: 95px;
}

.job .job-about-ad {     
     text-align: left;
     margin-top: 20px;
     margin-bottom: 22px;
}

.job-about-ad .map {
     padding-left: 28px;
}

.job-about-ad .flash {
     padding-left: 51px;
}

.btn-ade {
     background: #b0bbca;
     margin-left: 70px;
}

.job .job-about-it {     
     text-align: left;
     margin-top: 30px;
     margin-bottom: 22px;
}

.job-about-it .map {
     padding-left: 30px;
}

.job-about-it .flash {
     padding-left: 45px;
}

.btn-it {
     background: #b0bbca;
     margin-left: 95px;
}

/*.icom-map {
     display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: bottom;
  background-image: url("/Image/map.png");
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}*/

.education {
     background: #dbe1e8;
     padding: 1px;
     margin-bottom: 30px;
     border-radius: 5px;
     text-align: left;
}

.education span {
     color: #6d8298;
}

.education h3 {
     margin-top: 28px;
     margin-bottom: 0px;
     padding-left: 24px;
     font-size: 22px;
     font-weight: 500;
}
.education span {
     font-size: 13px;
     font-weight: 500;
}

.education h3 span {
     margin-top: 30px;     
     padding-left: 12px;
     font-size: 15px;
     font-weight: 500;
}

.education h4 {
     color: #00b9d8;
     margin-top: 3px;
     margin-bottom: 15px;
     padding-left: 24px;
     font-size: 18px;
     font-weight: 500;     
}

.education-yelp {     
     margin-top: 28px;
     margin-bottom: 24px;
}

.education-yelp .map {
     padding-left: 24px;
}

.education-yelp .flash {
     padding-left: 65px;
}

.btn-yelp {
     background: #10cdc1;
     margin-left: 82px;
}

.education-qoqa {     
     margin-top: 29px;
     margin-bottom: 26px;
}

.education-qoqa .map {
     padding-left: 24px;
}

.education-qoqa .flash {
     padding-left: 65px;
}

.btn-qoqa {
     background: #10cdc1;
     margin-left: 74px;
}

.dotted {
     background-color: #eaedf1;
     border-top: 2px dotted #c2cad4;
}

.education-cefire {
     margin-top: -6px;
     margin-bottom: 13px;
}

.cefire h4 {
     color: #04bca6;
}

.education-cefire .map {
     padding-left: 24px;
}

.education-cefire .flash {
     padding-left: 65px;
}

.ecole h4 {
     color: #04bca6;
}

.education-ecole {     
     margin-top: -8px;
     margin-bottom: 13px;
}

.education-ecole .map {
     padding-left: 24px;
}

.education-ecole .flash {
     padding-left: 52px;
}


.rating {
     display: inline-block;
     padding-left: 210px;
}

.rating span {
     font-size: 20px;
}

.hobby {
     background: white;
     margin-top: 0px;
     /*margin-bottom: 32px;*/
     border-radius: 5px;
}

.hobby-photo {
     display: inline-block;     
     width: 100px;
     height: 80px;
     margin: 20px auto 0;
     padding-top: 2px;
     background-image: url("/Image/hobby.png");
     background-repeat: no-repeat;
}
.hobby-photo-1 {
     background-position: 5px 0px;
}
.hobby-photo-2 {
     background-position: -99px 0px;
}
.hobby-photo-3 {
     background-position: -203px 0px;
}
.hobby-photo-4 {
     background-position: -307px 0px;
}
.hobby-photo-5 {
     background-position: -411px 0px;
}
.hobby-photo-6 {
     background-position: -515px 0px;
}

.sign {
     text-align: left;
}

.sign span {
     color: #9ea7b4;
     font-size: 13px;
     text-transform: uppercase;
}
.sign .sign1 {
     padding-left: 20px;
}
.sign .sign2 {
     padding-left: 30px;
}
.sign .sign3 {
     padding-left: 30px;
}
.sign .sign4 {
     padding-left: 20px;
}
.sign .sign5 {
     padding-left: 15px;
}
.sign .sign6 {
     padding-left: 18px;
}

.table {
     display: table;
     padding: 0;
     margin-top: 25px;
     margin-left: 20px;
}
   
.row {
     display: table-row;
}
   
.cell {
     display: table-cell;
}

.cell p {
     margin: 14px 3px 6px;
     text-align: left;
}

.cell-right {
     padding-left: 50px;
}
   

.hobby .progress {
     margin: 0 auto;
     width: 268px;
   }
   
   .progress {
     padding: 1px;
     background: rgba(0, 0, 0, 0.25);
     border-radius: 6px;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
   }
   
   .progress-bar {
     height: 14px;
     border-radius: 4px;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
     background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
     background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
     background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
     -webkit-transition: 0.4s linear;
     -moz-transition: 0.4s linear;
     -o-transition: 0.4s linear;
     transition: 0.4s linear;
     -webkit-transition-property: width, background-color;
     -moz-transition-property: width, background-color;
     -o-transition-property: width, background-color;
     transition-property: width, background-color;
     -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
     box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
   }

.progress > .bar1 > .progress-bar {
    width: 80%;
    background-color: #10cdc1;
 }
 .progress > .bar2 > .progress-bar {
     width: 55%;
     background-color: #10cdc1;
 }
 .progress > .bar3 > .progress-bar {
     width: 95%;
     background-color: #10cdc1;
}
.progress > .bar4 > .progress-bar {
     width: 85%;
     background-color: #10cdc1;
}
.progress > .bar5 > .progress-bar {
     width: 60%;
     background-color: #16c4ec;
}
.progress > .bar6 > .progress-bar {
     width: 75%;
     background-color: #16c4ec;
}
.progress > .bar7 > .progress-bar {
     width: 55%;
     background-color: #16c4ec;
}
.progress > .bar8 > .progress-bar {
     width: 60%;
     background-color: #16c4ec;
}
 
.clear {
     clear: both;
}
 
.footer {
     width: 100%;
     height: 40px;
     margin: 0;
     padding: 0;
}

.footer span {
     display: inline-block;
}

.footer .english {
     font-size: 18px;
     font-style: italic;
     vertical-align: top;
     padding-top: 30px;
}

.footer .commas {
     font-size: 120px;
     font-family: 'Times New Roman', Times, serif;
     /*padding-right: 20px;*/
     display: inline-block;
}